*,
*:before,
*:after {
  box-sizing: border-box;
}

#grid-container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div[class*="grid-row"] {
    height: 10px;
}

.grid-square{
    border: solid black 1px;
    display: inline-block;
    width: 10px;
    height: 10px;
}