*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    margin: 0px;
    display: flex;
    justify-content: center;
}

#grid-container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

div[class*="grid-row"] {
    display: flex;
    width: 500px;
    flex: 1;
    height: 10px;
}

[class*='grid-square'] {
    flex: 1;
    border: solid black 1px;
    display: inline-block;
    /* width: 10px;
    height: 10px; */
}